section {
    width: 100%;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, yellow, green, cyan);
    border-image-slice: 1;
}

.home {
    background-image: url(../assets/images/bg_image_light.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nvb {
    width: 100%;
    min-height: 20px;
    margin-top: 0px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: sticky;
    top: 0px;
    padding: 10px;
    background: wheat;
    z-index: 100;
}

.homerow {
    padding: 50px 0 50px 0;
    align-items: inline;
    width: 100%;
    justify-content: space-between;
}

.welcome {
    display: inline-flex;
    /*align-items: center;*/
    justify-content: center;
    align-self: center;
    margin: 75px;
}

.frm {
    display: inline-flex;
}

.frmbtn {
    margin-left: 10px;
}

.nvb-brand {
    text-decoration: none;
    font-size: larger;
}

.nvb-link {
    text-decoration: none;
    font-size: large;
    padding-top: 15px;
}

.theme {
    background: transparent;
    border: none;
}

.bgtheme {
    height: 50px;
    width: 60px;
    background: transparent;
}

.formcontainer {

    text-align: center;
}

.abctxt {
    background-color: aliceblue;
    color: black;
    padding: 20px;
    overflow: auto;
}

.abcimg {
    display: flex;
    object-fit: contain;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.abcimg img {
    background: transparent;
    max-width: 100%;
}

.abcform{
    border-radius: 10%;
    background-color: #fef7f7;
}

.abcform input, textarea{
    background-color: #fbe3e3;
    border: 1px;
    border-radius: 5%;
}

.abchome{
    margin-top: 130px;
}

@media (width <=768px) {
    .abc {
        margin: 10px;
    }

}