<body [style.background]="darkmode? '' : 'white'" [style.color]="darkmode? '': 'black'">

    <!--Navbar-->
    <nav class="nvb navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
            <h3><b>My Portfolio</b></h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation"
            (click)="isCollapsed = !isCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link nvb-link" href="#home" (click)="isCollapsed = true"><b>Home</b></a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link nvb-link" href="#about" (click)="isCollapsed = true"><b>About</b></a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link nvb-link" href="#qual" (click)="isCollapsed = true"><b>Qulification</b></a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link nvb-link" href="#exp" (click)="isCollapsed = true"><b>Experience</b></a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link nvb-link" href="#contact" (click)="isCollapsed = true"><b>Contact</b></a>
                </li>
                <li>
                    <button class="btn btn-outline-secondary me-2 theme col" placement="bottom"
                        ngbTooltip="Change Theme?" (click)="changeTheme()"><img class="bgtheme"
                            [src]="darkmode? './assets/images/lightmode.png' : './assets/images/darkmode.png'"></button>
                </li>
            </ul>
            <!--form class="frm form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 nvb-link" type="text" placeholder="Search">
                <button class="frmbtn btn btn-secondary my-2 my-sm-0 nvb-link" type="submit">Search</button>
            </form-->
        </div>
    </nav>

    <!--home page-->
    <section class="home" id="home">
        <h1 style="text-align: center; padding: 20px;">-- HOME --</h1>
        <div class="container-fluid row">
            <div class="abc col-sm-12 col-md-5" style="object-fit: contain; text-align: center;">
                <img src="../assets/images/Welcome.png" alt="Welcome To my Portfolio"
                    style="background: transparent; max-width: 100%;">
            </div>
            <div class="abc col-sm-12 col-md-5 offset-md-2" style="object-fit: contain; text-align: center;">
                <img src="../assets/images/Myself Satyajeet.png" alt="Myself Satyajeet"
                    style="background: transparent; max-width: 100%;">
            </div>
        </div>
    </section>

    <!--about page-->
    <section class="about" id="about">
        <h1 style="text-align: center; padding: 20px;">-- ABOUT --</h1>
        <div class="container-fluid row">
            <div class="abc container col-sm-12 col-md-5 border border-primary"
                style="background-color: aliceblue; color: black; padding: 20px; overflow: auto;">
                <h2>Personal - </h2>
                <ul>
                    <li>
                        <b>Address-</b> Faridabad, Haryana
                    </li>
                    <li>
                        <b>Whatsapp Number-</b> +91 9560718335
                    </li>
                    <li>
                        <b>E-mail Address-</b> satyajeetpatra2001@gmail.com
                    </li>
                </ul>
            </div>
            <div class="abc container col-sm-12 col-md-5 border border-primary"
                style="background-color: aliceblue; color: black; padding: 20px; overflow: auto;">
                <h2>Skills -</h2>
                <ul>
                    <li>
                        <b>Angular-</b> <br>
                        <div class="progress">
                            <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated"
                                role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                                style="width: 80%"></div>
                        </div>
                    </li>
                    <li>
                        <b>HTML / CSS-</b> <br>
                        <div class="progress">
                            <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated"
                                role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                                style="width: 70%"></div>
                        </div>
                    </li>
                    <li>
                        <b>PHP-</b> <br>
                        <div class="progress">
                            <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated"
                                role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"
                                style="width: 65%"></div>
                        </div>
                    </li>
                    <li>
                        <b>SQL-</b> <br>
                        <div class="progress">
                            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated"
                                role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"
                                style="width: 55%"></div>
                        </div>
                    </li>
                    <li>
                        <b>C#-</b> <br>
                        <div class="progress">
                            <div class="progress-bar bg-info progress-bar-striped progress-bar-animated"
                                role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                style="width: 50%"></div>
                        </div>
                    </li>
                    <li>
                        Other skills-
                        <ul>
                            <li>Python</li>
                            <li>C</li>
                            <li>JavaScript</li>
                            <li>C++, etc.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!--qualification page-->
    <section class="qual" id="qual">
        <h1 style="text-align: center; padding: 20px;">-- QUALIFICATION --</h1><br><br>
        <div class="container-fluid row">
            <div class="abc container col-sm-12 col-md-5 border border-primary"
                style="background-color: aliceblue; color: black; padding: 20px; overflow: auto;">
                <h2>School - </h2>
                <ul>
                    <li>
                        Aggarwal Public School, Sector- 3, Faridabad — 10th & 12th (C.B.S.E Board).
                    </li>
                    <li>
                        Passed 12th class in 2019, and 10th class in 2017.
                    </li>
                    <ul>
                        <li>
                            Passed 12th class with an average of 73%.
                        </li>
                        <li>
                            Passed 10th class with a C.G.P.A of 8.8.
                        </li>
                    </ul>
                </ul>
            </div>
            <div class="abc container col-sm-12 col-md-5 border border-primary"
                style="background-color: aliceblue; color: black; padding: 20px; overflow: auto;">
                <h2>College -</h2>
                <ul>
                    <li>
                        Rao Birender Singh State Institute of Engineering and Technology (R.B.S-S.I.E.T), Rewari —
                        B.Tech(CSE).
                    </li>
                    <li>2019-2023</li>
                    <ul>
                        <li>
                            Completed B.Tech C.S.E with an average of 69.4%.
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </section>

    <!--experience page-->
    <section class="exp" id="exp">
        <h1 style="text-align: center; padding: 20px;">-- EXPERIENCE --</h1><br><br>
        <div class="container-fluid row">
            <div class="abc container col-sm-12 col-md-5 border border-primary"
                style="background-color: aliceblue; color: black; padding: 20px; overflow: auto;">
                <h2>Job background - </h2>
                <ul>
                    <li>
                        <b>Fresher-</b> Looking for a full time job.
                    </li>
                    <li>
                        To work on a challenging job profile which provides an opportunity to enhance my skills and
                        Knowledge.
                    </li>
                    <li>
                        This could provide me an insight into new aspects so that it would be helpful for my career.
                    </li>
                </ul>
            </div>
            <div class="abc container col-sm-12 col-md-5 border border-primary"
                style="background-color: aliceblue; color: black; padding: 20px; overflow: auto;">
                <h2>Internship --</h2>
                <ul>
                    <li>
                        Completed a 6 months internship in New Delhi at a well known organization named <b>The Energy
                            and Resources Institute (<i>TERI</i>)</b>.
                    </li>
                    <li>
                        Internship tenure was of 6 months from <b>January to July 2023</b>.
                    </li>
                    <li>
                        Got to learn many skills during this internship -
                    </li>
                    <ul>
                        <li>PHP</li>
                        <li>C#</li>
                        <li>SQL, and many more..</li>
                    </ul>
                </ul>
            </div>
        </div>
    </section>

    <!--contact page-->
    <section class="contact container" id="contact">
        <!--h1 style="text-align: center; padding: 20px;">-- CONTACT --</h1><br><br-->
        <div class="container mb-5">
            <h1 class="contacthead">CONTACT US</h1><br>
            <form action="https://formspree.io/f/mqkvzyoo" method="POST">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <label>
                            Your email:
                        </label>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <input type="email" name="email" required>
                    </div>
                </div>

                <br><br>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <label>
                            Your contact number:
                        </label>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <input type="number" minlength="10" maxlength="10" name="cno">
                    </div>
                </div>

                <br><br>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <label>
                            Your message:
                        </label>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <textarea name="message"></textarea><br>
                    </div>
                </div>

                <br><br>

                <div style="align-items: center;">
                    <button [style.color]="darkmode? '' : 'white' " [style.background]="darkmode? '' : 'grey' "
                        style="width: 70" type="submit">Send</button>
                </div>

            </form>
        </div>

    </section>
    <div class="container-fluid footer"
        style="background-color: #f5bae8; width: 100%; color: black; margin-top: 5px; padding: 10px; display: inline-block;">
        <div class="ml-3" style="display: inline-block;">
            © 2023 <b style="color: red;">SATYAJEET</b>
        </div>
        <div class="mr-3" style="text-align: right; float: right;">
            <a href=""><img class="px-md-2" src="../assets/images/twitter.svg" alt="Twitter"></a>
            <a href="https://www.linkedin.com/in/satyajeet-patra-23bb70179"><img class="px-md-2" src="../assets/images/linkedin.svg" alt="linkedin"></a>
        </div>
    </div>
</body>

<!--div class="progress">
    <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar"
        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
</div-->
